*{
      margin: 0;
      padding: 0;
}
body{
       height: 100%;
       width: 100%;
       background-color: rgb(40, 36, 36);
       overflow: hidden;
}
.container{
     user-select: none;
       height: 50vh;
      width: 100vw;
       display: flex;
       justify-content: start ;
       align-items: center;
       flex-direction: column;
       gap: 5vh;
      
}
.times span:nth-child(odd){
     font-size: 16vw;
     color:white;
}
.times span:nth-child(even){
     font-size: 2.5vw;
     color: white;
}

button{
     all: unset;
     text-align: center;
     font-size: 1.5vw;
     font-family:serif;
     padding: 5px;
     width:5vw;
     background-color: rgb(0, 191, 255);
     cursor: pointer;
}

.controls{
    display: flex;
      gap: 7vw;
}

.records{

      background-color: white;
       border: 3px solid rgb(77, 73, 73);
       border-radius: 10px;
       height: 50vh;
       overflow: hidden;
}
.records label{
       background-color: rgb(77, 73, 73);
       display: block;
       color: white;
       padding : 2vh 2vw ;
       font-size: 2vw;
       display: flex;
       justify-content: space-between;
       height: 15%;
       align-items: center;

}
.list{
      display: flex;
      flex-direction: column;
      overflow-y: auto;
       height: 78%;  
 
}
.record{
      display: flex;
       justify-content: space-around;
       max-height: max-content;
       background-color: gray;
       font-size: 2vw;
       align-items: center;
       border-bottom: 2px solid rgb(77, 73, 73);
       font-weight:600;
       font-family:sans-serif;
}

.list::-webkit-scrollbar{
        visibility:collapse;
}


@media screen and (Max-Width:900px){
      .container{         
              gap: 2vh;
            justify-content: center;
       }
       .list{
             height: 85%;
       }
       button{
            font-size: 3.5vw;
            width:8vw;
       }
      .records label{
              font-size:5vw ;
              height: 2vh;
       }
       .times span:nth-child(odd){
            font-size: 19vw;
           
       }
       .times span:nth-child(even){
            font-size: 4vw;
       }
       .record{
             min-height: 5vh;
             font-size: 3.5vw;
             
      }

}